{% extends "veterinario/veterinario_base.html" %}
{% block prevet %} 


<div class="accounts-margin">
<div class="col-md-4">
    <div class="content">
        {% if user.is_authenticated %}
            <h2>Welcome Back</h2>
        {% endif %}    
    </div>
</div>

{% if user.is_authenticated %}
    <a href="{%  url 'veterinario:create' %}" class="btn btn-md btn-warning"></a>

{% endif %}   
{% endblock %}


{% block vet_content %}
<div class="col-md-8">
	<div class="list-group">
		{% for veterinario in object_list %}
		  <a class="list-group-item" href="{% url 'veterinario:single' veterinario.id %}">
			     <h3 class="title list-group-item-heading">{{ veterinario.vet_name }}</h3>
			<div class="list-group-item-text container-fluid">
				

			</div>
		</a>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}